[Unit]
Description=Monitora bot service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/bitnami/monitora/bot.py
[Install]
WantedBy=multi-user.target
